* {
    box-sizing: border-box;
}

body {
    font-family: font-family: 'Roboto', sans-serif;
    background: url('images/ski-pow.jpg') no-repeat left fixed;
    background-size: cover;
;


}

form {
    margin: 15px auto;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 85px;
    text-shadow: 4px 4px 6px #FFF, 0 0 25px #FFF;
    margin:  0px auto;
    text-align: center;
    padding-bottom: 0;
    line-height: 80%;
}

h2, h3 {
    text-align: center;
    text-shadow: 4px 4px 6px #FFF, 0 0 10px #FFF;
    font-size: 24px;
    margin: 0;
}

h4 {
    margin-top: 0;
    margin-bottom: 5px;
    text-shadow: 4px 4px 6px #FFF, 0 0 25px #FFF;
}

p {
    margin: 0;
    font-size: 18px;
    text-shadow: 4px 4px 6px #FFF, 0 0 25px #FFF;
    font-weight: bold;
}

input, select {
    box-shadow: 4px 4px 6px #FFF, 0 0 10px #FFF;
}

input[type=submit]{
    display: block;
    margin: 7px auto;
    width: 145px;
    height: 30px;
    border-radius: 15px;
    background-color: #EEEFFF;
    border: 2px solid black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    outline: none;
}

input[type=submit]:active {
    outline: none; 
}


input[type=submit]:hover {
    background-color: #f4f5ff;
}

label {
    font-family: font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 4px 4px 6px #FFF, 0 0 10px #FFF;
    font-weight: bold;
    margin: 5px;
    display: block;
}

ul li {
    list-style-position: inside;
    list-style-type: none;
}


.wrapper {
    margin: 50px;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

.resort-result {
    margin-bottom: 30px;
}

.resortName {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    margin-top: 55px;
    line-height: 90%;
}

.snowfall {
    margin-top: 10px;
}

#flight-tomorrow {
    font-size: 36px;
    margin: 15px auto;
}

#instructions {
    max-width: 800px;
    margin: 15px auto;
}

#form {
    display: block;
    text-align: center;
}

#inbound-date {
    margin: 0 auto;
}

#results {
    text-align: center;
}

@media all and (min-width:800px){
    body {
        background: url('images/ski-pow.jpg') no-repeat fixed;
        background-size: cover;
    }
    /* label, option, select, input {
        display: inline;
    } */
}